.jumbotron {
  padding-top: 6rem;
  background-color: #caf7c9;
}
#about {
  padding-top: 6rem;
  background-color: #fff;
}
#galeri {
  padding-top: 6rem;
}
#pendidikan {
  padding-top: 6rem;
  background-color: #fff;
}
#pengalaman {
  padding-top: 6rem;
}
#contact {
  padding-top: 6rem;
  background-color: #fff;
}
/*.gotopbtn {
  background-color: #fff;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  border-radius: 40px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;*/
}
